/*  your css code here. If applicable */
.container{
	margin: 20px;
}
#pseudo::before{
	content: "Before Element ";
	color: #f000;
	font-size: 20px;
}
#pseudo::after{
	content: " After Element";
	color: #f000;
	font-size: 20px;
}